.main{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

button{
  cursor: pointer;
}

.canvas-container{
  position: absolute;
  display: flex;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #EFF1F5;
}

.canvas{
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.ui{
  position: absolute;
  flex-direction: column;
  display: flex;
  top: 3%;
  left: 3%;
  width: 100%;
}

.title-button{
  top: 5%;
  left: 5%;
  border-radius: 10%;
  background-color: #EFF1F5;
  color: #4070D7;
  width: 200px;
  padding: 8px;
  font-family: inherit;
  font-weight: 1000;
  font-size: 24px;
}

.title-button:hover{
  transition-duration: .8s;
  color: #EFF1F5;
  background-color: #4070D7;
}

.switch-disp-container{
  display: flex;
  flex-direction: column;
  z-index: -1;
  position: relative;
  width: 200px;
  height: auto;
  align-items: center;
  box-shadow: 1px 1px 7px;
  background-color: #EFF1F5;
  border-radius: 8px;
  top: 5px;
}

.switch-disp-op{
  display: flex;
  background-color: #EFF1F5;
  border: none;
  outline: none;
  line-height: 1.8;
  padding: 5px;
  font-family: inherit;
  font-size: 20px;
  font-weight: 700;
}

.info-container{
  background-color: #EFF1F5;
  border: 1px solid lightgrey;
  display: flex;
  box-shadow: 1px 1px 7px;
  z-index: -1;
  position: relative;
  width: 30%;
  border-radius: 5px;
  height: auto;
  padding: 24px;
  top: 5px;
}